---
title: "Semi-Automated Verification of Interior Unsafe Code Encapsulation in Real-World Rust Systems"
collection: publications
category: conferences
permalink: /publication/2024-ase-src-verification
date: 2024-10-27
venue: '39th IEEE/ACM International Conference on Automated Software Engineering (ASE 2024)'
authors: '**Zihao Rao**'
paperurl: 'https://dl.acm.org/doi/abs/10.1145/3691620.3695373'
---
